@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/
 

/************
3. 1280px
************/
 

/************
4. 1199px
************/


/************
4. 1100px
************/
 
 
 
/*@media only screen and (max-width: 767px)
{
	.menu_container
	{
		right: -100vw;
		width: 100vw;
		height: 100vh;
	}
	.newsletter_email
	{
		width: 100%;
	}
	.newsletter_submit_btn
	{
		margin-top: 15px;
	}
}*/

/************
11. 575px
************/
 
 
/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.header
	{
		height: 60px;
		top: 15px;
	}
	.hero_slide_content h1
	{
		font-size: 14px;
	}
	.hero_slide_content h1 span
	{
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.hero_boxes
	{
		padding-top: 80px;
	}
	.hero_box
	{
		 
		height: 120px;
	}
	.hero_box_content
	{
		padding-top: 6px;
	}
	.hero_box img
	{
		width: 45px;
	}
	.hero_box_title
	{
		font-size: 18px;
		margin-bottom: 3px;
	}
	.hero_box_link
	{
		font-size: 10px;
	}
}

 