/*$application-them-color:#2f14ff;*/
body {
  /* CSS Document */
  /******************************
  
  COLOR PALETTE
  
  
  
  
  [Table of Contents]
  
  1. Fonts
  2. Body and some general stuff
  3. Header
  	3.1 Logo
  	3.2 Main Nav
  	3.3 Header Side
  	3.4 Hamburger
  4. Menu
  	4.1 Menu Social
  	4.2 Menu copyright
  5. Home
  	5.1 Hero Slider
  	5.2 Hero Slider Navigation
  6. Hero Boxes
  7. Page Section
  8. Buttons
  9. Popular
  10. Register
  11. Search
  	11.1 Search Form
  12. Services
  13. Testimonials
  14. Events
  15. Footer
  	15.1 Newsletter
  	15.2 Footer Content
  	15.3 Footer Copyright
  
  
  ******************************/
  /***********
  Common CSS
  ***********/
  /***********
  1. Fonts
  ***********/
  /*********************************
  2. Body and some general stuff
  *********************************/
  /*********************************
  3. Header
  *********************************/
  /*********************************
  3.1 Logo
  *********************************/
  /*********************************
  3.2 Main Nav
  *********************************/
  /*********************************
  3.3 Header Side
  *********************************/
  /*********************************
  3.4 Hamburger
  *********************************/
  /*********************************
  4. Menu
  *********************************/
  /*********************************
  4.1 Menu Social
  *********************************/
  /*********************************
  15. Contac us
  *********************************/
  /*********************************
  4.2 Menu copyright
  *********************************/
  /*********************************
  5. Home
  *********************************/
  /*********************************
  5.1 Hero Slider
  *********************************/
  /*********************************
  6. Hero Boxes
  *********************************/
  /*********************************
  7. Page Section
  *********************************/
  /*********************************
  8. Buttons
  *********************************/
  /*********************************
  9. Popular
  *********************************/
  /*********************************
  10. Register
  *********************************/
  /*********************************
  11. Search
  *********************************/
  /*********************************
  11.1 Search Form
  *********************************/
  /*********************************
  12. Services
  *********************************/
  /*********************************
  13. Testimonials
  *********************************/
  /*********************************
  14. Events
  *********************************/
  /*********************************
  15. Footer
  *********************************/
  /*********************************
  15.1 Newsletter
  *********************************/
  /*********************************
  15.2 Footer Content
  *********************************/
  /*********************************
  15.3 Footer Copyright
  *********************************/ }
  body .margin0 {
    margin: 0px; }
  body .header-container {
    padding-left: 0px;
    padding-right: 0px; }
  body .logo img {
    height: 100px; }
  body .header_content {
    height: 100%; }
    body .header_content .header-flex-system {
      display: flex; }
  body * {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }
  body body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #a5a5a5; }
  body div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  body ul {
    list-style: none;
    margin-bottom: 0px; }
  body p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 2.29;
    font-weight: 400;
    color: #a5a5a5;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }
  body p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
  body a, body a:hover, body a:visited, body a:active, body a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }
  body p a:active {
    position: relative;
    color: #FF6347; }
  body p a:hover {
    color: #FFFFFF;
    background: #ffa07f; }
  body p a:hover::after {
    opacity: 0.2; }
  body ::selection {
    background: #FFD266;
    color: #C88E00; }
  body p::selection {
    background: #FFD266;
    color: #C88E00; }
  body h1 {
    font-size: 36px; }
  body h2 {
    font-size: 22px; }
  body h3 {
    font-size: 18px; }
  body h4 {
    font-size: 14px; }
  body h5 {
    font-size: 11px; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }
  body ::-webkit-input-placeholder {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #a5a5a5 !important; }
  body :-moz-placeholder {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #a5a5a5 !important; }
  body ::-moz-placeholder {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #a5a5a5 !important; }
  body :-ms-input-placeholder {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #a5a5a5 !important; }
  body ::input-placeholder {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #a5a5a5 !important; }
  body .form-control {
    color: #db5246; }
  body section {
    display: block;
    position: relative;
    box-sizing: border-box; }
  body .clear {
    clear: both; }
  body .clearfix::before, body .clearfix::after {
    content: "";
    display: table; }
  body .clearfix::after {
    clear: both; }
  body .clearfix {
    zoom: 1; }
  body .float_left {
    float: left; }
  body .float_right {
    float: right; }
  body .trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
  body .trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease; }
  body .trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease; }
  body .trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
  body .fill_height {
    height: 100%; }
  body .super_container {
    width: 100%;
    overflow: hidden; }
  body .prlx_parent {
    overflow: hidden; }
  body .prlx {
    height: 130% !important; }
  body .nopadding {
    padding: 0px !important; }
  body .header {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 182px;
    background: #FFFFFF;
    z-index: 10;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
    @media (min-width: 768px) {
      body .header {
        top: 45px;
        width: 90%; } }
    @media (max-width: 767px) {
      body .header {
        top: 0px;
        width: 100%; } }
  body .header.scrolled {
    top: 0px;
    width: 100%; }
  body .header.scrolled .header_content::before {
    box-shadow: 0px 20px 49px rgba(0, 0, 0, 0.17); }
  body .header_content {
    width: 100%;
    height: 100%; }
  body .header_content::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: 0px 20px 49px rgba(0, 0, 0, 0.67);
    z-index: -1; }
  body .logo span {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #3a3a3a;
    vertical-align: middle;
    text-transform: uppercase;
    margin-left: 3px; }
  body .main_nav_container {
    margin: auto; }
  body .main_nav {
    margin-top: 7px; }
  body .main_nav_item {
    display: inline-block;
    margin-right: 40px; }
    body .main_nav_item .link-active {
      color: #6200EE; }
  body .main_nav_item:last-child {
    margin-right: 0px; }
  body .main_nav_item a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3a3a3a;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
  body .main_nav_item a:hover {
    color: #6200EE; }
  body .register-section {
    display: flex; }
    body .register-section .header_side {
      width: 279px;
      height: 100%;
      background: #6200EE; }
    body .register-section .header_side-login {
      width: 279px;
      height: 100%;
      background: #ee3b28; }
    body .register-section .header_side-register {
      width: 279px;
      height: 100%;
      background: #009e5a; }
    body .register-section .header_side img {
      width: 29px;
      height: 29px; }
    body .register-section .header_side, body .register-section .header_side-login, body .register-section .header_side-register span {
      display: block;
      position: relative;
      font-size: 15px;
      font-weight: 500;
      color: #FFFFFF;
      padding-left: 12px; }
  body .hamburger_container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    right: 9px;
    background: #6200EE;
    display: none;
    cursor: pointer; }
  body .hamburger_container i {
    font-size: 20px;
    padding: 10px;
    color: #FFF; }
  body .hamburger_container:hover i {
    color: #fff; }
  body .menu_container {
    position: fixed;
    top: 0;
    left: -50vw !important;
    width: 50vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 12;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    visibility: hidden;
    opacity: 0; }
  body .menu_container.active {
    visibility: visible;
    opacity: 1;
    left: 0 !important; }
  body .menu {
    position: absolute;
    top: 90px;
    left: 0;
    padding-left: 15%; }
  body .menu_list {
    -webkit-transform: translateY(3.5rem);
    -moz-transform: translateY(3.5rem);
    -ms-transform: translateY(3.5rem);
    -o-transform: translateY(3.5rem);
    transform: translateY(3.5rem);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 1000ms 600ms ease;
    opacity: 0; }
  body .menu_container.active .menu_list {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  body .menu_item {
    margin-bottom: 9px; }
  body .menu_item a {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
  body .menu_item a:hover {
    color: #6200EE; }
  body .menu_close_container {
    margin-right: -50vw;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 11;
    display: none; }
  body .menu_close {
    top: 9px;
    width: 21px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
  body .menu_close::after {
    display: block;
    position: absolute;
    top: -9px;
    left: 9px;
    content: '';
    width: 3px;
    height: 21px;
    background: #fff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
  body .menu_close_container:hover .menu_close,
  body .menu_close_container:hover .menu_close::after {
    background: #6200EE; }
  body .menu_social_container {
    margin-top: 100px;
    -webkit-transform: translateY(3.5rem);
    -moz-transform: translateY(3.5rem);
    -ms-transform: translateY(3.5rem);
    -o-transform: translateY(3.5rem);
    transform: translateY(3.5rem);
    -webkit-transition: all 1000ms 1000ms ease;
    -moz-transition: all 1000ms 1000ms ease;
    -ms-transition: all 1000ms 1000ms ease;
    -o-transition: all 1000ms 1000ms ease;
    transition: all 1000ms 1000ms ease;
    opacity: 0;
    padding-left: 4px; }
  body .menu_social_item {
    display: inline-block;
    margin-right: 30px; }
  body .menu_social_item a i {
    color: #3a3a3a; }
  body .menu_social_item a i:hover {
    color: #6200EE; }
  body .menu_container.active .menu_social_container {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  body .register_section .contact-w3-agile1 {
    margin: auto; }
  body .register_section .con-top {
    margin-top: 3em; }
  body .register_section h4 {
    font-size: 2em;
    letter-spacing: 1px;
    color: #6200EE; }
  body .register_section .contact-agile1 {
    letter-spacing: 1px;
    padding-bottom: 2em;
    color: #fff; }
  body .section-gap {
    padding: 120px 0; }
  body .menu_copyright {
    margin-top: 60px;
    -webkit-transform: translateY(3.5rem);
    -moz-transform: translateY(3.5rem);
    -ms-transform: translateY(3.5rem);
    -o-transform: translateY(3.5rem);
    transform: translateY(3.5rem);
    -webkit-transition: all 1000ms 1200ms ease;
    -moz-transition: all 1000ms 1200ms ease;
    -ms-transition: all 1000ms 1200ms ease;
    -o-transition: all 1000ms 1200ms ease;
    transition: all 1000ms 1200ms ease;
    opacity: 0;
    padding-left: 3px; }
  body .menu_container.active .menu_copyright {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
  body .home {
    width: 100%;
    height: 100vh; }
  @media (max-width: 767px) {
    body {
      /*********************************
      5.2 Hero Slider Navigation
      *********************************/
      /*********************************
      6. Hero Boxes
      *********************************/ }
      body .mobile-body-overly {
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.7);
        display: none; }
      body .hamburger_container {
        display: block; }
      body .main_nav_container {
        display: none; }
      body .hero_slider_container {
        width: 100%;
        height: 100%; }
      body .hero_slide {
        width: 100%;
        height: 100%; }
      body .hero_slide_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; }
      body .hero_slide_container {
        width: 100%;
        height: 100vh; }
      body .hero_slide_content {
        max-width: 80%;
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        transform: translateY(30px); }
        body .hero_slide_content h1 {
          font-size: 39px;
          margin-top: 10px;
          padding-bottom: 5px; }
      body .animated {
        -webkit-animation-duration: 1s !important;
        animation-duration: 1s !important;
        -webkit-animation-delay: 500ms;
        animation-delay: 500ms; }
      body .animate-out {
        -webkit-animation-delay: 0ms;
        animation-delay: 0ms; }
      body .hero_slider_nav {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(calc(-50% + 30px));
        width: 58px;
        height: 58px;
        background: #FFFFFF;
        z-index: 9;
        cursor: pointer; }
      body .hero_slider_nav:hover {
        background: #6200EE; }
      body .hero_slider_nav:hover span {
        color: #FFFFFF; }
      body .hero_slider_nav span {
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: #121212;
        line-height: 1; }
      body .hero_slider_left {
        display: none;
        left: 4.32%; }
      body .hero_slider_right {
        display: none;
        right: 4.32%; }
      body .hero_boxes {
        height: 0px;
        z-index: 9;
        padding-top: 0px; }
      body .hero_boxes_inner {
        position: absolute;
        top: -270px !important;
        left: 0;
        width: 100%; }
      body .hero_box {
        margin: initial;
        height: 264px;
        width: 100% !important; }
      body .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2; }
        body .frontside .card {
          height: 264px; }
          body .frontside .card .card-title {
            color: #007b5e;
            font-size: 20px;
            font-weight: 500; }
      body .backside {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-box-shadow: 5px 7px 9px -4px #9e9e9e;
        -moz-box-shadow: 5px 7px 9px -4px #9e9e9e;
        box-shadow: 5px 7px 9px -4px #9e9e9e; }
        body .backside .card {
          height: 264px;
          background: #6200EE !important; }
          body .backside .card .card-title {
            color: #fff;
            font-size: 20px;
            font-weight: 500; }
          body .backside .card .card-text {
            padding: 40px 0px 0px 0px;
            color: #fff; } }
  body .hero_slider_container {
    width: 100%;
    height: 100%; }
  body .hero_slide {
    width: 100%;
    height: 100%; }
  body .hero_slide_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  body .hero_slide_container {
    width: 100%;
    height: 100vh; }
  body .hero_slide_content {
    max-width: 80%;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  body .hero_slide_content h1 {
    display: block;
    font-weight: 400;
    color: #FFFFFF; }
  body .hero_slide_content h1 span {
    background: #6200EE;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: -12px;
    margin-right: -12px; }
  @media (min-width: 768px) {
    body {
    /*********************************
  5.2 Hero Slider Navigation
  *********************************/ }
      body .menu_close_container {
        display: none; }
      body .hamburger_container {
        display: none; }
      body .main_nav_container {
        display: block; }
      body .hero_slide_content h1 {
        font-size: 72px;
        margin-top: 0px; }
      body .animated {
        -webkit-animation-duration: 1s !important;
        animation-duration: 1s !important;
        -webkit-animation-delay: 500ms;
        animation-delay: 500ms; }
      body .animate-out {
        -webkit-animation-delay: 0ms;
        animation-delay: 0ms; }
      body .hero_slider_nav {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(calc(-50% + 30px));
        width: 58px;
        height: 58px;
        background: #FFFFFF;
        z-index: 9;
        cursor: pointer; }
      body .hero_slider_nav:hover {
        background: #6200EE; }
      body .hero_slider_nav:hover span {
        color: #FFFFFF; }
      body .hero_slider_nav span {
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        color: #121212;
        line-height: 1; }
      body .hero_slider_left {
        display: inline-flex;
        left: 4.32%; }
      body .hero_slider_right {
        display: inline-flex;
        right: 4.32%; }
      body .hero_box {
        margin: auto;
        width: 50% !important;
        height: 200px; }
      body .hero_boxes_inner {
        position: absolute;
        top: -212px !important;
        left: 0;
        width: 100%; } }
  body .hero_boxes {
    width: 100%;
    height: 0px;
    z-index: 9;
    padding-top: 0px; }
    body .hero_boxes .qoute-section {
      color: #fff; }
      body .hero_boxes .qoute-section .qoute-heade {
        text-align: center; }
  body .hero_boxes_inner {
    position: absolute;
    left: 0;
    width: 100%; }
  body .hero_box {
    margin: auto;
    width: 50%;
    background: #fff;
    cursor: pointer;
    border-radius: 5px; }
  body .hero_box_content {
    padding-left: 13px;
    padding-top: 11px;
    margin-top: -6px; }
  body .image-flip:hover .backside,
  body .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem; }
  body .image-flip:hover .frontside,
  body .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  body .image-flip {
    height: 100%; }
  body .mainflip {
    height: 100%;
    width: 100%;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative; }
    body .mainflip .frontside .card {
      background: #fff !important; }
  body .frontside {
    height: 100%;
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2; }
    body .frontside .card {
      height: 100%; }
      body .frontside .card .card-title {
        color: #007b5e;
        font-size: 20px;
        font-weight: 500; }
  body .backside {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px #9e9e9e;
    -moz-box-shadow: 5px 7px 9px -4px #9e9e9e;
    box-shadow: 5px 7px 9px -4px #9e9e9e; }
    body .backside .card {
      height: 100%;
      background: #6200EE !important; }
      body .backside .card .card-title {
        color: #fff;
        font-size: 20px;
        font-weight: 500; }
      body .backside .card .card-text {
        padding: 40px 0px 0px 0px;
        color: #fff; }
  body .frontside,
  body .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d; }
  body .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%; }
  body .page_section {
    padding-top: 117px;
    padding-bottom: 117px; }
  body .section_title h1 {
    display: block;
    color: #1a1a1a;
    font-weight: 500;
    padding-top: 24px; }
  body .section_title h1::before {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 55px;
    height: 4px;
    content: '';
    background: #6200EE; }
  body .button {
    cursor: pointer; }
  body .button:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }
  body .button a {
    font-size: 14px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase; }
  body .button_1 {
    width: 202px;
    height: 48px; }
  body .course_boxes {
    margin-top: 68px; }
  body .card {
    display: block;
    background: #f8f9fb;
    border: none;
    height: 185px; }
  body .card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
  body .card-body {
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px; }
  body .card-title a {
    font-size: 22px;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 1.2; }
  body .card-title a:hover {
    color: #a5a5a5; }
  body .card-text {
    font-size: 15px;
    font-weight: 500;
    color: #a5a5a5; }
  body .price_box {
    width: 100%;
    height: 67px;
    background: #eaebec;
    margin-top: 41px;
    padding-left: 35px; }
  body .course_author_image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden; }
  body .course_author_name {
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    padding-left: 20px;
    margin-top: 7px; }
  body .course_author_name span {
    color: #a5a5a5; }
  body .course_price {
    width: 67px;
    height: 67px;
    background: #6200EE;
    margin-left: auto; }
  body .course_price span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin-top: 7px; }
  body .register {
    width: 100%; }
  body .register_section {
    width: 100%;
    background: #6200EE;
    padding-top: 156px;
    padding-bottom: 161px; }
  body .register_content {
    width: 522px; }
  body .register_title {
    color: #FFFFFF;
    margin-bottom: 16px;
    line-height: 1.63; }
  body .register_title:last-child {
    margin-bottom: 0px; }
  body .register_title span {
    color: #1a1a1a; }
  body .register_text {
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 32px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0px; }
  body .register_button {
    background: #1a1a1a;
    margin-top: 65px; }
  body .register_button a {
    color: #FFFFFF; }
  body .search_section {
    width: 100%;
    height: 100%;
    background: #ececec; }
  body .search_content {
    width: 522px; }
  body .search_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.23; }
  body .search_title {
    color: #1a1a1a; }
  body .search_form {
    margin-top: 57px; }
  body .input_field {
    width: 100%;
    height: 42px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: solid 2px #FFFFFF;
    padding-left: 25px;
    margin-bottom: 24px; }
  body input:last-of-type {
    margin-bottom: 0px; }
  body .input_field:focus {
    outline: none !important;
    border: solid 2px #6200EE; }
  body .search_submit_button {
    width: 100%;
    height: 48px;
    background: #6200EE;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 28px;
    border: none;
    cursor: pointer; }
  body .search_submit_button:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); }
  body .search_submit_button:focus {
    outline: solid 2px #FFFFFF; }
  body .services {
    padding-bottom: 76px; }
  body .services_row {
    margin-top: 65px; }
  body .service_item {
    margin-bottom: 41px; }
  body .service_item h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #1a1a1a;
    margin-bottom: 13px; }
  body .service_item p {
    font-size: 14px;
    font-weight: 500;
    color: #a5a5a5;
    max-width: 100%;
    margin-bottom: 0px; }
  body .icon_container {
    height: 41px;
    width: auto;
    margin-bottom: 30px; }
  body .icon_container img {
    height: 100%; }
  body .testimonials {
    width: 100%;
    background: #1a1a1a; }
  body .testimonials_background_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  body .testimonials_background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.27; }
  body .testimonials .section_title h1 {
    color: #FFFFFF; }
  body .testimonials_slider_container {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 56px; }
  body .testimonials_item {
    width: 100%;
    padding-bottom: 75px; }
  body .quote {
    font-size: 36px;
    color: #6200EE; }
  body .testimonials_text {
    color: #FFFFFF;
    margin-bottom: 0px; }
  body .testimonial_user {
    margin-top: 43px; }
  body .testimonial_image {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    overflow: hidden; }
  body .testimonial_image img {
    width: 100%;
    height: auto; }
  body .testimonial_name {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f6af03;
    margin-top: 21px; }
  body .testimonial_title {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 6px; }
  body .testimonials_slider .owl-dots {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center; }
  body .testimonials_slider .owl-dot span {
    width: 8px !important;
    height: 8px !important;
    border: solid 2px #FFFFFF;
    background: transparent !important; }
  body .testimonials_slider .owl-dot.active span {
    width: 16px !important;
    height: 16px !important;
    border: none;
    background: #6200EE !important; }
  body .event_items {
    margin-top: 68px; }
  body .event_item {
    margin-bottom: 56px; }
  body .event_item:last-child {
    margin-bottom: 0px; }
  body .event_date {
    width: 131px;
    height: 131px;
    border: solid 2px #6200EE;
    margin-bottom: 18px; }
  body .event_day {
    font-size: 48px;
    font-weight: 700;
    color: #6200EE;
    margin-bottom: 1px;
    line-height: 1; }
  body .event_month {
    font-size: 16px;
    font-weight: 700;
    color: #6200EE; }
  body .event_name a {
    font-size: 22px;
    font-weight: 500;
    color: #1a1a1a; }
  body .event_name a:hover {
    color: #6200EE; }
  body .event_location {
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    margin-top: 2px; }
  body .event_content p {
    font-weight: 500;
    color: #a5a5a5;
    margin-top: 21px;
    margin-bottom: 13px; }
  body .event_image img {
    width: 100%; }
  body .footer {
    width: 100%;
    padding-top: 86px;
    background: #1a1a1a; }
  body .footer .section_title h1 {
    color: #FFFFFF; }
  body .newsletter {
    padding-bottom: 85px;
    border-bottom: solid 2px #4d4e4e; }
  body .newsletter_form_container {
    width: 60%;
    margin-top: 48px; }
  body .newsletter_email {
    width: calc(100% - 164px);
    height: 42px;
    border: none;
    padding-left: 27px;
    font-weight: 500;
    color: #1a1a1a; }
  body .newsletter_email:focus {
    outline: solid 2px #6200EE; }
  body .newsletter_submit_btn {
    width: 164px;
    height: 42px;
    border: none;
    background: #6200EE;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer; }
  body .newsletter_submit_btn:focus {
    border: solid 2px #FFFFFF; }
  body .footer_content {
    padding-top: 80px;
    padding-bottom: 83px;
    border-bottom: solid 2px #4d4e4e; }
  body .footer_content .logo_container {
    padding-left: 0px; }
  body .footer_content .logo span {
    color: #FFFFFF; }
  body .footer_about_text {
    margin-top: 24px;
    margin-bottom: 0px;
    padding-right: 20px; }
  body .footer_column_title {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 15px; }
  body .footer_column_content {
    margin-top: 32px; }
  body .footer_list_item {
    margin-bottom: 11px; }
  body .footer_list_item a {
    font-size: 14px;
    color: #a5a5a5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
  body .footer_list_item a:hover {
    color: #6200EE; }
  body .footer_contact_item {
    font-size: 14px;
    font-weight: 400;
    color: #a5a5a5;
    margin-bottom: 22px; }
  body .footer_contact_item:last-child {
    margin-bottom: 0px; }
  body .footer_contact_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px; }
  body .footer_contact_icon img {
    width: 100%; }
  body .footer_bar {
    padding-top: 19px;
    padding-bottom: 19px; }
  body .footer_social .menu_social_item a i {
    color: #FFFFFF; }
  body .footer_social .menu_social_item a i:hover {
    color: #6200EE; }
  body .footer_social .menu_social_item:last-child {
    margin-right: 0px; }

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/webfonts/fa-brands-400.eot") format("embedded-opentype"); }
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }
.mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

.mobile-nav-active {
  overflow: hidden; }

/*# sourceMappingURL=home.css.map */
